#search-bar {

}

#banner {
  margin-bottom: 50px;
}

#listing-description {
  margin-top: 10px;
  margin-left: 200px;
}

#reviews {
  margin: 50px auto;
  margin-left: 200px;
}

#bookings {
  display: block;
  position: sticky;
  float: right;
  top: 50px;
  margin-right: 200px;
}
