#search-bar {

}

#banner {
  margin-bottom: 50px;
}

#body {
  height: 5040px;
  width: 1048px;
  margin-top: 10px;
  margin: auto;
}

#listing-description {
  
}

#reviews {
  margin-top: 10px;
}

#bookings {
  display: block;
  position: sticky;
  float: right;
  top: 50px;
}
